<kt-portlet>
	<kt-portlet-header
		[title]="getComponentTitle() | async"
		[class]="'kt-portlet__head--lg'"
		[viewLoading$]="loading$"
	>
		<ng-container ktPortletTools>
			<a
				(click)="voltar()"
				class="btn btn-secondary kt-margin-r-10"
				mat-raised-button
				matTooltip="Back to the users list"
			>
				<i class="la la-arrow-left"></i>
				<span class="kt-hidden-mobile">Voltar</span>
			</a>
			<a
				href="javascript:;"
				class="btn btn-secondary kt-margin-r-10"
				(click)="reset()"
				[disabled]="selectedTab !== 0"
				mat-raised-button
				matTooltip="Reset changes"
			>
				<i class="la la-cog"></i>
				<span class="kt-hidden-mobile">Recarregar</span>
			</a>
			<a
				href="javascript:;"
				class="btn btn-primary kt-margin-r-10"
				color="primary"
				(click)="onSumbit(false)"
				mat-raised-button
				matTooltip="Save & Continue"
			>
				<span class="kt-hidden-mobile">Salvar</span>
			</a>
			<button mat-icon-button [matMenuTriggerFor]="menu" color="primary">
				<mat-icon>more_vert</mat-icon>
			</button>
			<mat-menu #menu="matMenu">
				<button mat-menu-item color="primary" (click)="onSumbit(true)">
					Save & Exit
				</button>
				<button mat-menu-item color="primary">Save & Duplicate</button>
				<button mat-menu-item color="primary" (click)="onSumbit(false)">
					Save & Continue
				</button>
			</mat-menu>
		</ng-container>
	</kt-portlet-header>
	<kt-portlet-body>
		<form
			[formGroup]="userForm"
			class="kt-form"
		>
			<kt-alert
				*ngIf="hasFormErrors"
				type="warn"
				[showCloseButton]="true"
				[duration]="10000"
				(close)="onAlertClose($event)"
			>
				Oh snap! Change a few things up and try submitting again.
			</kt-alert>

			<div class="kt-form__section kt-form__section--first">
				<div class="form-group kt-form__group row">
                    <div class="col-lg-6 kt-margin-bottom-20-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                            <input
                                matInput
                                placeholder="Descrição"
                                formControlName="descricao"
                            />
                            <mat-error
                                >Descrição é
                                <strong>obrigatória</strong>
                            </mat-error>	
                            <mat-hint align="start">
                                Informe uma 
                                <strong>descrição</strong>
                            </mat-hint>							
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-group kt-form__group row">
                    <div class="col-lg-2 kt-margin-bottom-20-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                            <input
                                matInput
                                placeholder="Valor entrada"
                                formControlName="valor_entrada"
                                type="number" step="0.10" 
                            />
                            <mat-hint align="start">
                                <strong>R$</strong>
                            </mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2 kt-margin-bottom-20-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                            <input
                                matInput
                                placeholder="Valor saída"
                                formControlName="valor_saida"
                                type="number" step="0.10" 
                            />
                            <mat-hint align="start">
                                <strong>R$</strong>
                            </mat-hint>
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-group kt-form__group row">
                    <div class="col-lg-2 kt-margin-bottom-20-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                            <input
                                matInput
                                placeholder="Quantidade"
                                formControlName="quantidade"
                                type="number" step="1" 
                            />
                            <mat-hint align="start">
                                <strong>Total</strong>
                            </mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-2 kt-margin-bottom-20-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                            <mat-select
                                placeholder="Tipo"
                                formControlName="metrica"
                            >
                                <mat-option
                                    *ngFor="let m of metricas"
                                    [value]="m._id"
                                    >{{ m.descricao }}</mat-option
                                >
                            </mat-select>
                            <mat-hint align="start">
                                <strong>Kg,M²,etc..</strong>
                            </mat-hint>
                        </mat-form-field>
                    </div>
                </div>
			</div>
		</form>
	</kt-portlet-body>
</kt-portlet>
